* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #e9f0f7;
    height: 5000px;
    padding-top: 60px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    text-align: center;
    padding-top: 60px;
}

#about, #projects {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

#about.visible, #projects.visible {
    opacity: 1 !important;
    transform: translate(0, 0);
}



section > h2 {
    margin-top: 0;
    padding-top: 20px
}

/* Nav-bar */
.header {
    background-color: #008f5d;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 60px;
}

.logo {
    color: #fff;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-item {

}

.connections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.connections li {
    list-style: none;
    text-align: center;
}

.connections a {
    display: inline-block;
    max-width: 40px;
}

.connections img {
    width: 50%;
    max-width: 100%;
    cursor: pointer;
    filter: invert(100%) sepia(95%) saturate(4%) 
    hue-rotate(232deg) brightness(105%) contrast(100%);
    transition: opacity 0.4s;
}

.connections img:hover {
    opacity: 75%
}

.nav-link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2){
    opacity: 0;
}

.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

/* About Me */
.am-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.am-container h3 {
    max-width: 60%;
}

.am-container img {
    max-width: 40%;
    border-radius: 100%;
    border: 5px solid #008f5d;
}

/* Project Carousel */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
}

.slide {
    display: none;
}

.materials {
    width: 100%;
    display: flex;
}

.materials img {
    max-width: 60%;
}

.material-text {
    width: 40%;
    padding: 4px;
    color: rgba(0,0,0,0.75);
    background-color: #fff;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.material-text h3,h4 {
    margin: 8px;
}

.material-text ul img {
    max-width: 15%;
    padding: 4px;
    filter: invert(33%) sepia(24%) saturate(5066%) hue-rotate(139deg) 
    brightness(94%) contrast(101%);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #bbb;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.linkbutton {
    cursor: pointer;
    color: #008f5d;
    background-color: #fff;
    padding: 12px 20px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    box-sizing: border-box;
    border-bottom: 3px solid #008f5d;
    transition: background-color 0.4s ease-in-out;
}

.linkbutton:hover {
    background-color: #ccc
}

.dots {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease-in-out;
}

.active, .dot:hover {
    background-color: #008f5d
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

/* Contact information page */
#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    color: #000;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.contact-description {
    max-width: 50%
}

.contact-description h1, h3, p {
    padding: 0px 0px 20px 0px;
    color: rgba(0,0,0,0.75);
}

.contact-description h1 {
    font-size: 48px;
    color: #000;
}

.required {
    color: rgba(0,0,0,0.75)
}

.get-in-touch {
    max-width: 50%;
    width: 100%;
}

.get-in-touch form label {
    display: block;
}

.get-in-touch input, textarea {
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px;
    transition: background-color 0.4s ease;
}

.get-in-touch textarea {
    height: 100px;
}

.get-in-touch input:focus, textarea:focus {
    outline: none !important;
    box-shadow: 0px 0px 10px #bbb;
}

.get-in-touch input:hover, textarea:hover {
    background-color: rgba(0,0,0,0.01)
}

.send {
    max-width: 30%;
    background-color: #008f5d;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.4s ease !important;
}

.send:hover {
    background-color: #008f5d !important;
    opacity: 75%;
}


/* Smaller screens (ie mobile) */
@media (max-width: 650px) {
    /* Nav bar */
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #008f5d;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }

    /* About Me */
    .am-container {
        flex-direction: column;
        align-items: center;
    }

    .am-container img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
    }

    /* Project carousel */
    #projects h2{
        padding-bottom: 20px;
    }
    .materials {
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        border: 5px solid rgba(0,0,0,0.2);
        border-radius: 10px;
    }
    
    .material-text {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }

    .material-text ul img {
        max-width: 7%;
        padding: 4px;
    }

    .materials img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0px 0px;
    }

    .linkbutton {
        padding: 8px 12px;
        font-size: 12px;
        z-index: 1;
    }

    /* Contact page */
    #contact-info {
        flex-direction: column;
    }

    .contact-description {
        max-width: 100%;
    }

    .get-in-touch {
        max-width: 100%;
    }

    .send {
        width: 100%;
    }
}